@model IEnumerable<JustBakery.Models.Перечень_вакансий_по_должности_Result>
@{
    ViewBag.Title = "Вакансии";
}

<h2>Обучение и Карьера</h2>
<p>Успешный бизнес немыслим без грамотного, профессионального, ответственного персонала. Мы требовательны к себе и в работе стремимся соответствовать самым высоким стандартам.</p>
<p>Работа в Компании «Бон Аппетит» это:</p>
<ul>
    <li>достойный уровень заработной платы,</li>
    <li>молодой и дружный коллектив,</li>
    <li>гибкий график работы,</li>
    <li>бесплатное обучение,</li>
    <li>социальные гарантии,</li>
    <li>эффективная система мотивации,</li>
    <li>возможность реализовать себя и достичь поставленных целей.</li>
</ul>
<p>
    Мы знаем, как важно для наших сотрудников осознавать, что они работают в успешной, процветающей и сильной Компании. 
    Мы заинтересованы в постоянном повышении профессиональных знаний, навыков и умений, а также развитии личностных качеств наших сотрудников, 
    поскольку считаем постоянное обучение и развитие сотрудников залогом успешного выполнения ими целей и задач.
</p>
<p>
    Мы понимаем, насколько важно для каждого сотрудника работать в комфортных условиях, расти и получать достойное вознаграждение за свой труд. 
    Нами создана простая система мотивации сотрудников и повышения их заинтересованности в успехе – 
    она основана на индивидуальных и коллективных результатах работы.
</p>
<p>
    Нам всегда нужны энергичные, коммуникабельные, способные работать в команде люди, которые хотят освоить азы ресторанного бизнеса для профессионального роста 
    и выстраивания своей карьеры в рамках нашей сети. Тем, кто добьется лучших результатов, мы готовы предоставить все возможности для расширения профессионального 
    кругозора и карьерного роста.
</p>
<p>
    <strong>Мы с удовольствием ответим на все возникшие у Вас вопросы по тел.: +7 (555) 555-55-55</strong>
</p>

<h2>Вакансии</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Полное_название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Полный_адрес)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_вакансий)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Полное_название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Полный_адрес)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество_вакансий)
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
