@model JustBakery.Models.Bakery

@{
    ViewBag.Title = "Информация о пекарне " + @Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <h4>Информация о пекарне</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.BakeryID }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
