@model JustBakery.ViewModel.SupplierViewModel

@{
    ViewBag.Title = "Новый поставщик";
}

<h2>Новый поставщик</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Заполните поля и нажмите кнопку "Создать"</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier.FullName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier.FullName)
                @Html.ValidationMessageFor(model => model.Supplier.FullName)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Supplier.ShortName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier.ShortName)
                @Html.ValidationMessageFor(model => model.Supplier.ShortName)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Supplier.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier.Address)
                @Html.ValidationMessageFor(model => model.Supplier.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier.OfficePhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier.OfficePhone)
                @Html.ValidationMessageFor(model => model.Supplier.OfficePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier.INN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Supplier.INN)
                @Html.ValidationMessageFor(model => model.Supplier.INN)
            </div>
        </div>

        <hr />

        <h4>Добавьте контактное лицо от вашей организации</h4>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Person.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.FirstName)
                @Html.ValidationMessageFor(model => model.Person.FirstName)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Person.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.LastName)
                @Html.ValidationMessageFor(model => model.Person.LastName)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Person.MiddleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.MiddleName)
                @Html.ValidationMessageFor(model => model.Person.MiddleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Person.BirthDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person.BirthDay)
                @Html.ValidationMessageFor(model => model.Person.BirthDay)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
