@model JustBakery.Models.Supplier

@{
    ViewBag.Title = "Информация о поставщике";
}

<h2>@Model.ShortName</h2>

<div>
    <h4>Информация о поставщике</h4>
	<hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName) 
            @if (!string.IsNullOrEmpty(@Model.Person.Phone))
            {
                <text> (@Model.Person.Phone)</text>
            }
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.SupplierID }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
