@model JustBakery.Models.ProductResidue

@{
    ViewBag.Title = "Удалить запись об остатке";
}

<h2>Удалить запись об остатке продукции</h2>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.Address) <br/>
            @Html.DisplayFor(model => model.Stock.Bakery.Name)
        </dd>
        
        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Units)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Residue", "Product")
        </div>
    }
</div>
