@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке запроса произошла ошибка.</h2>
@if (Model != null)
{
    <p>@Model.ControllerName @Model.ActionName</p>
    <p>@Model.Exception.Message</p>
    <p>@Model.Exception.InnerException.Message</p>
}
@ViewBag.Exception.Message


