@model JustBakery.Models.ProductAccountingLog

@{
    ViewBag.Title = "Удаление записи журнала";
}

<h2>Удаление записи</h2>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>@Model.OperationType.Type [@Model.OperationDate.ToShortDateString()]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OperationTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Person.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Person.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock.StockType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.StockType) 
            пекарни "@Html.DisplayFor(model => model.Stock.Bakery.Name)", 
            @Html.DisplayFor(model => model.Stock.Address)
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>









    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к журналу", "AccountingLog")
        </div>
    }
</div>
