@model JustBakery.Models.ProductAccountingLog

@{
    ViewBag.Title = "Информация о записи";
}

<h2>@Model.OperationType.Type</h2>

<div>
    <h4>Информация по записи в журнале [@Model.OperationDate.ToShortDateString()]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OperationTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Person.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Person.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock.StockType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.StockType)
            пекарни "@Html.DisplayFor(model => model.Stock.Bakery.Name)",
            @Html.DisplayFor(model => model.Stock.Address)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "EditRecord", new { id = Model.LogRecordID }) |
    @Html.ActionLink("Назад к списку", "AccountingLog")
</p>
