@model JustBakery.Models.ProductAccountingLog

@{
    ViewBag.Title = "Редактирование записи - Журнал учета продукции";
}

<h2>@Model.OperationType.Type</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Редактирование записи в журнале [@Model.OperationDate.ToShortDateString()]</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LogRecordID)

        <div class="form-group">
            @Html.LabelFor(model => model.OperationTypeID, "Операция", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OperationTypeID")
                @Html.ValidationMessageFor(model => model.OperationTypeID)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.OperationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OperationDate)
                @Html.ValidationMessageFor(model => model.OperationDate)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "Покупатель", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, "Сотрудник", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockID, "Склад", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StockID")
                @Html.ValidationMessageFor(model => model.StockID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к журналу", "AccountingLog")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
