@model JustBakery.Models.Stock

@{
    ViewBag.Title = "Удаление склада";
}

<h2>Удаление склада</h2>

<h3>Вы уверены что хотите удалить склад?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bakery.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bakery.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
