@model JustBakery.Models.Stock

@{
    ViewBag.Title = "Информация о складе";
}

<h2>@Model.Address [@Model.StockType]</h2>

<div>
    <h4>Информация о складе</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bakery.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bakery.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.StockID }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
