@model JustBakery.ViewModel.RecipeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>Рецепт @Model.Recipe.Name</h3>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
    </dl>
    <h4>Ингридиенты</h4>
    <br>
    <ul>
        @foreach (var ing in Model.Ingridients)
        {
            <li>@ing.RawType.Type - @ing.Count @ing.Units</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe.RecipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
